@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font: #faf9f9;
  --secondary-font: #2b2218;
  --primary-bg: #2b2218;
  --secondary-bg: #5a442d;
  --main-bg: #e6b789;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  width: 100%;
  font-family: 'Inter', sans-serif !important;
  color: var(--font);
  background-color: var(--primary-bg);
  overflow-x: hidden !important;
}

h1 {
  color: var(--secondary-font);
}

.active-link::after {
  content: '';
  position: absolute;
  left: 0;
  background-color: var(--secondary-font);
  border-radius: 2px;
  width: 100% !important;
  height: 3px;
  bottom: -2px;
  transition: 0.3s;
}

/* Keyframes */

@keyframes fall {
  from {
    content: '';
    opacity: 0;
    transform: translateY(-120vh);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ascend {
  from {
    content: '';
    opacity: 0;
    transform: translateY(120vh);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes right-to-left {
  from {
    content: '';
    opacity: 0;
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes left-to-right {
  from {
    content: '';
    opacity: 0;
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#mobile-nav {
  display: none;
}

#navbar a {
  position: relative;
}

#navbar nav a:nth-child(1) {
  animation-name: fall;
  animation-duration: 2s;
  animation-fill-mode: both;
}

#navbar nav a:nth-child(2) {
  animation-name: fall;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

#navbar nav a:nth-child(3) {
  animation-name: fall;
  animation-duration: 2s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

#navbar nav a:nth-child(4) {
  animation-name: fall;
  animation-duration: 2s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

#navbar nav button {
  animation-name: fall;
  animation-duration: 2s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}

#navbar nav a::after {
  content: '';
  position: absolute;
  left: 0;
  background-color: var(--secondary-font);
  border-radius: 2px;
  width: 0;
  height: 3px;
  bottom: -2px;
  transition: 0.3s;
}

#navbar nav a:hover::after {
  width: 100%;
}

#navbar {
  transition: 0.5s;
}

.active {
  transition: 0.5s;
  background-color: var(--main-bg);
  padding-bottom: 8px;
}

#contact-me::before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: var(--secondary-bg);
  transition: 0.5s;
  top: 0;
  border-radius: 5px;
}

#contact-me:hover::before {
  width: 100%;
}

#contact-me:hover {
  color: var(--font) !important;
}

/* Home Circle */

#home-circle {
  position: absolute;
  background: var(--secondary-bg);
  border-radius: 50%;
  animation-name: fall;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

#home-circle-nofill {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #faf9f9;
  animation-name: fall;
  animation-duration: 1.5s;
  animation-delay: 1.8s;
  animation-fill-mode: both;
}

#home #me {
  animation-name: ascend;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

/* Mid Circle && Animation */

.mid-circle-active {
  position: absolute;
  background: var(--secondary-bg);
  border-radius: 50%;
  animation-name: fall;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.mid-circle-nofill-active {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #faf9f9;
  animation-name: ascend;
  animation-duration: 2s;
  animation-fill-mode: both;
}

/* About Circle */

#about-circle-nofill {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #faf9f9;
  animation-name: ascend;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

.about-circle-active {
  position: absolute;
  background: #2b2218;
  border-radius: 50%;
  animation-name: right-to-left;
  animation-duration: 2s;
  animation-fill-mode: both;
}

#home {
  transition: 0.5s;
  background-image: url('assets/images/bg-main.png');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-me {
  background-color: transparent;
  border-radius: 5px;
  color: var(--secondary-font);
  border: 1px solid var(--secondary-bg);
  padding: 10px 30px;
  font-weight: bold;
  transition: 0.5s;
}

#about {
  background-image: url('assets/images/bg-secondary.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.items-card-active {
  animation-name: ascend;
  animation-duration: 2s;
  animation-fill-mode: both;
}

#feedback form input {
  border: 1px solid var(--font);
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
}

#feedback form textarea {
  border: 1px solid var(--font);
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  resize: none;
}

#feedback form input::placeholder {
  font-size: 14px;
  font-weight: 600;
}

#feedback form textarea::placeholder {
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  body {
    width: 100%;
    font-family: 'Inter', sans-serif !important;
    color: var(--font);
    background-color: var(--primary-bg);
    overflow-x: hidden !important;
  }

  #navbar {
    padding-right: 2rem;
  }

  #navbar nav {
    column-gap: 5rem;
  }
}

@media (max-width: 768px) {
  @keyframes fall {
    from {
      content: '';
      opacity: 0;
      transform: translateY(-120%);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes left-to-right {
    from {
      content: '';
      opacity: 0;
      transform: translateX(-120%);
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes close-left {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      content: '';
      transform: translateX(-120%);
      opacity: 0;
    }
  }

  #navbar {
    display: none;
  }

  body {
    width: 100%;
    font-family: 'Inter', sans-serif !important;
    color: var(--font);
    background-color: var(--primary-bg);
    overflow-x: hidden !important;
  }

  #mobile-nav {
    animation-name: left-to-right;
    animation-duration: 1s;
    animation-fill-mode: both;
    display: flex;
    position: fixed;
    z-index: 999;
    left: 0;
    background-color: var(--secondary-bg);
    color: var(--font);
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: var(--secondary-bg);
    color: var(--font);
    align-items: center;
    justify-content: center;
    row-gap: 40px;
  }

  #mobile-nav div {
    display: flex;
    align-items: center;
    row-gap: 40px;
    flex-direction: column;
    color: var(--font);
  }

  #mobile-nav div a::after {
    content: '';
    position: absolute;
    left: 0;
    background-color: var(--font);
    border-radius: 2px;
    width: 0;
    height: 3px;
    bottom: -2px;
    transition: 0.3s;
  }

  #mobile-nav div a {
    position: relative;
  }

  #mobile-nav div a:nth-child(1) {
    animation-name: fall;
    animation-duration: 2s;
    animation-delay: 0.7s;
    animation-fill-mode: both;
  }

  #mobile-nav div a:nth-child(2) {
    animation-name: fall;
    animation-duration: 2s;
    animation-delay: 0.8s;
    animation-fill-mode: both;
  }

  #mobile-nav div a:nth-child(3) {
    animation-name: fall;
    animation-duration: 2s;
    animation-delay: 0.9s;
    animation-fill-mode: both;
  }

  #mobile-nav div a:nth-child(4) {
    animation-name: fall;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
  }

  #mobile-nav button {
    animation-name: fall;
    animation-duration: 2s;
    animation-delay: 1.1s;
    animation-fill-mode: both;
  }

  #mobile-nav div a:hover::after {
    width: 100%;
  }

  #mobile-nav #contact-me::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: var(--primary-bg);
    border: none;
    transition: 0.5s;
    top: 0;
    border-radius: 5px;
  }

  #mobile-nav #contact-me:hover::before {
    width: 100%;
    border: none;
  }

  #mobile-nav #contact-me:hover {
    border: 1px solid var(--primary-bg);
  }

  #mobile-nav #contact-me {
    background-color: transparent;
    border-radius: 5px;
    color: var(--font);
    border: 1px solid var(--font);
    padding: 10px 30px;
    font-weight: bold;
    transition: 0.5s;
  }

  .active-link::after {
    content: '';
    position: absolute;
    left: 0;
    background-color: var(--font);
    border-radius: 2px;
    width: 100% !important;
    height: 3px;
    bottom: -2px;
    transition: 0.3s;
  }

  #mobile-nav-parent #icon {
    animation-name: fall;
    animation-duration: 2s;
    animation-fill-mode: both;
  }

  #mobile-nav-parent .cursor-pointer {
    animation-delay: 0.5s;
  }

  #mobile-nav-parent .hide {
    animation-name: close-left;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}
