@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font: #faf9f9;
  --primary-bg: #2b2218;
  --secondary-bg: #5a442d;
}

body {
  width: 100vw;
  font-family: 'Inter', sans-serif !important;
  color: var(--font);
  background-color: var(--primary-bg);
  overflow-x: hidden !important;
}

#circle {
  position: absolute;
  background: var(--secondary-bg);
  border-radius: 50%;
}

#circle-nofill {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #faf9f9;
}

#home {
  background-image: url('/images/bg-main.png');
  min-width: 100vw;
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-me {
  background-color: var(--secondary-bg);
  border-radius: 71px;
  padding: 10px 30px;
  font-weight: bold;
}
